@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
    
    font-family: 'Montserrat', sans-serif;
    background-image: url("img/background.jpg")
}

.zahlavi {
    padding-top: 1px;
    
    padding-bottom: 8%;
    background-color: #3399ff;
    border-radius: 15px;
  
    font-weight: bold;
    color: white;
}


.obsah {
    position: relative;
    margin-top: 50px;
    width: 40%;
    background-color: rgba(245, 245, 245, 0.475);
    border-radius: 15%;
    padding: 3%;
}

.navigace {
    color: white;
}

.navigace ul {
    width: 50%;
    list-style-type: none;      
    margin: 0%;
    float: left;
    margin-left: 30%;
   
}

.navigace li {
    background-color: #3399ff;
    border-radius: 15px;
    padding: 1%;
    margin-left: 2%;
    
    font-size: 150%;
   
}
.navigace li:hover{
    background-color: #2870b8;
    
    border-radius: 15px;

  
   
}
.obsah ul{
font-size: 130%;
}
.team {
  
    float:right
}

.navigace a {
    
   
    color: white;
    font-weight: bold;
    text-decoration: none;
    display: block;
   
}

.navigace ul li {
    float:left;
  
    
}




.main {
    background-color: rgba(245, 245, 245, 0);
    float: left;
    width: 100%;
    border-radius: 15px;
}