@import url('https://fonts.googleapis.com/css?family=Hammersmith+One');

* {
  box-sizing: border-box;
}

body {
font-family: 'Hammersmith One', sans-serif;
  margin: 0;
}
.banner-nahore{
  padding: 4px;
  background-color: black;
}

.header {
  padding: 60px;
  text-align: center;
  background: #fefefe;
  color: #000000;
}


.navbar {
  display: flex;
  background-color: #000000;
}

.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}


.navbar a:hover {
  background-color: #ffffff;
  color: #000000;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.side {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}


.main {
  flex: 70%;
  background-color: white;
  padding: 20px;
}

.img {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}


.footer {
  text-align: center;
  background: #ffffff;
}

.tsm-logo {
  width: 10%;
}
.worlds {
 width: 60%;
}
.world-logo {
  width: 50%;
  margin-left: 25%;
}
.icons {
  display: block;
margin: 8px;
}
.icons1 {
  width: 3%;
}

@media screen and (max-width: 600px) {
  .tsm-logo{
    width:30%;
  }
  .worlds {
   width: 100%;
  }
  .row,
  .navbar {
    flex-direction: column;
  }
}
